@media screen and (max-width: 1232px) {

    .conteudo-marca {
        font-size: 40px;
    }

    .foto1 {
        height: 22rem;
    }


    .circulo {
        display: none;
    }

    .imagem-pump {
        display: none;
    }

    .imagem-beijo {
        display: none;
    }
}

@media screen and (max-width: 883px) {
    body {
        width: 100%;
    }

    .cabecalho {
        flex-direction: column;
    }

    .cabecalho-menu {
        gap: 15px;
    }

    .cabecalho-menu-botao {
        font-size: 0.9rem;
    }

    .cabecalho-marca-image {
        margin: auto;
    }

    .conteudo-marca {
        display: none;
    }

    .conteudo-principal-escrito-titulo {
        font-size: 20px;
    }

    .conteudo-principal-escrito {
        align-items: center;
        font-size: 15px;
    }

    .conteudo-principal {
        flex-direction: column;
        height: 900px;
    }

    .conteudo-principal-escrito-descricao {
        list-style: none;
    }

    .cadastro{
        font-size: 0.9rem;
    }

    .foto1 {
        height: 18rem;
    }

    .circulo {
        display: none;
    }

    .imagem-pump {
        display: none;
    }

    .imagem-beijo {
        display: none;
    }
}